[2016-05-18 16:21] rt2zz opened #1 "post-serialize transforms"
Hey @maxdeviant, I noticed for this transform as well as the compress transform we need to serialize the state before transforming it. This leads to potentially multiple serializations, which while not terrible since stringifying a string is super cheap, it is not ideal.

Any thoughts on how to solve this? The simplest albeit ugly solution would be to split out `transforms` into `preSerializeTrans

[2016-05-18 23:42] maxdeviant commented on #1
Does it serialize multiple times?

I know I only call `stringify` if the incoming data is not already a string.

[2016-05-18 23:44] maxdeviant commented on #1
But out of the two proposals, I think I like the second one more, since it seems like it would ultimately be more composable.

[2016-05-19 02:29] rt2zz commented on #1
@maxdeviant it is unfortunate to make every transform that works on strings implement conditional stringify. But I suppose that is better than an ugly api. 👍

[2016-05-19 02:29] #1 closed

[2016-06-28 08:46] geminiyellow opened #2 "need some example about the transform"
hi @maxdeviant ,

thanks for your work. but i think i cannot use this transform follow your example in docs.

i create a new project, and use `redux-persist`, it work well.
but when i use the transform,

[code]

could you give me a workable demo project ?

[2016-06-28 15:27] maxdeviant commented on #2
Are you able to show me the relevant sections of your code? I could take a look at it to see if anything looks out of the ordinary.

I will also look into putting together an example usage project :+1:

[2016-07-01 05:44] geminiyellow commented on #2
@maxdeviant

I think I know why this problem occurs. because I use multi transform in one time,

immutable - support immutable reducers
compress - compress your serialized state with lz-string
encrypt - encrypt your serialized state with AES

immutable -> compress is ok,
but when compress -> immutable, you know, immutable will output something like '^', compress will parse it as a single key. so,

[2016-07-11 12:12] robmoorman opened #3 "Missing es2015, caused by .babelrc"
Using this module in React Native causes the packager to throw a transform error (couldn't find preset es2015).
A solution would be to add a . npmignore file were this .babelrc file is ignored, either way a improvement to exclude unnecessary files when installing this module with NPN.

[2016-07-12 20:45] rt2zz commented on #3
👍

I think whitelisting files in package.json is the way to go. PR will be gladly merged!

[2016-07-13 01:20] #3 closed

[2016-07-13 01:22] maxdeviant commented on #3
This should be fixed in v0.1.1.

[2016-07-27 17:25] alexsbryan commented on #2
I'm also trying to use the immutable transform with the encrypt transform and am getting errors with the compress -> immutable step. @geminiyellow: did you find a way around the problem?

[2016-07-27 17:28] maxdeviant commented on #2
@alexsbryan Perhaps I am a little confused. Does the compress -> immutable step work without the encryption? Or does it just not work at all?

[2016-07-27 17:42] alexsbryan commented on #2
Sorry I posted to hastily, forget I said anything about compress -- I'm only trying to use the encrypt transform and the immutable transform. So for me the immutable store is getting encrypted, but when trying to rehydrate from persistence I'm getting errors and the state I observe instead of looking like `{key: ImmutableObject}` looks like `["~#iM", Array]`.

[2016-07-27 18:11] maxdeviant commented on #2
I think I may have found the issue.

It looks like the immutable transform returns the raw value unless the persisted state is a string:

[code]

The encrypt transform returns its state as an object:

[code]

Which means that a plain JS object is being passed back instead of an Immutable object.

I based my transform heavily on the compress transform, which behaves the same way, which leads me to

[2016-07-29 00:17] schoettler opened #4 "Encrypt already stored unencrypted state"
I implemented the transform while I had a previously unencrypted state in localstorage, remains unencrypted.

[2016-07-29 00:23] maxdeviant commented on #4
Are you sure that a persist actually went through?

Going to need some more actionable information here to help you out.

[2016-07-29 00:37] schoettler commented on #4
Works fine actually, had something wrong on my end. Sorry about that

[2016-07-29 00:37] #4 closed

[2016-07-29 00:38] maxdeviant commented on #4
No worries!

[2016-10-24 21:36] maxdeviant opened #6 "Fix failing async test"
Currently the tests for the async functionality (added in #5) are failing, as noted in [this comment](https://github.com/maxdeviant/redux-persist-transform-encrypt/pull/5#issuecomment-255589578):

These should be fixed.

[2016-10-24 21:39] maxdeviant opened #7 "Update to ES2015"
Initially, we were only using regular JS for the library, but I think we should probably move to ES2015 and compile with Babel before publishing.

[2016-12-12 20:57] bapjiws opened #8 "EPEERINVALID"
npm ERR! peerinvalid Peer redux-persist-transform-encrypt@0.1.2 wants redux-persist@^3.0

Can you please set redux-persist-transform-encrypt to require the latest version of redux-persist? Thanks a lot in advance!

[2016-12-15 02:19] rt2zz commented on #8
will be cutting v4.0.0 very shortly!

[2016-12-15 16:02] maxdeviant commented on #8
@rt2zz What would you recommend for peer dependencies?

Should I match against major/minor versions and ignore patches?

e.g. `^4.0.x` or `^4.x.x`?

[2016-12-16 04:29] rt2zz commented on #8
I am committed to following semver, so 4.x.x should be best

pretty much 4.0 is held back by https://github.com/rt2zz/redux-persist/pull/236 at this point and confirming that we can make the bundle size smaller without need for any breaking changes.

[2016-12-19 04:16] maxdeviant commented on #8
This should be done with [v0.2.0](https://github.com/maxdeviant/redux-persist-transform-encrypt/releases/tag/v0.2.0).

[2016-12-19 04:16] #8 closed

[2016-12-23 14:23] QuanTumli opened #10 "Error: Unable to resolve module 'events'"
I'm getting an error if I try to import this module into a ```React Native```app.
I installed the ```redux-persist-transform-encrypt```with
[code]

Then i try to import the module as follows:
[code]

This will give me the following error:
[code]

Any ideas what the problem could be?

[2016-12-24 00:01] maxdeviant commented on #10
@QuanTumli What version of the library are you using?

[2016-12-24 09:47] QuanTumli commented on #10
Here are the **dependencies** from my `package.json`:

[code]

[2016-12-24 17:54] #7 closed

[2016-12-24 18:09] maxdeviant commented on #10
@QuanTumli Looks like the problem is that React Native doesn't have access to the native Node module [`events`](https://nodejs.org/api/events.html).

It's a dependency stemming from `readable-stream`, which is only needed for the async encryptor.

The `v0.2.0` release is a bit messy, so my plan is to cut another release soon, where the sync and async encryptors are behind separate exports, so my h

[2016-12-24 18:22] maxdeviant commented on #10
@QuanTumli Would you mind trying this out with `v1.0.0` and see if it fixes your issue?

[2016-12-26 09:05] QuanTumli opened #12 "Error: (0,_reduxPersistTransformEcnrypt2.default) is not a function"
With Version `1.0.0` I get the following error

[code]

with this line of code:

[code]

My package.json looks like this:

[code]

[2016-12-26 09:05] QuanTumli commented on #10
@maxdeviant Thanks, the error with the module `events` is gone now.
But now there's a new error, I've opened another bug #12 and will close this one.

[2016-12-26 09:05] #10 closed

[2016-12-26 19:38] maxdeviant commented on #12
@QuanTumli My bad, I should have tested the exports before publishing.

This should be fixed with v1.0.1!

Thank you for your help and patience :smile:

[2016-12-27 20:01] #12 closed

[2017-04-05 20:05] austin-sprawls opened #15 "Issues using with redux-persist and AsyncStorage"
I'm using redux-persist and AsyncStorage to persist my redux state, but I'm running into issues using this library with them. I've attempted using both the sync and async libs, but both give me errors:

![img_0047](https://cloud.githubusercontent.com/assets/22301287/24724596/84519352-1a00-11e7-8680-187c7955b9a8.PNG)

![img_0048](https://cloud.githubusercontent.com/assets/22301287/24724598/8738877e

[2017-04-05 22:29] maxdeviant commented on #15
@austin-sprawls This looks like the same problem as in #13.

I see you posted two screenshots. Is the first one using the sync methods and the second one using the async methods?

[2017-04-05 22:35] maxdeviant commented on #15
@austin-sprawls The second screenshot's error message looks the same as the one in #10. I think the async implementation is not currently compatible with React Native (async support in general is still WIP).

[2017-04-05 22:41] austin-sprawls commented on #15
Right, the second screenshot is the async method.

[2017-04-05 22:48] austin-sprawls commented on #15
I tried replacing the json-stringify-safe call with JSON.stringify in the helper file, but it still errors "encrypt: expected outbound state to  be  a string"

[2017-04-06 00:53] maxdeviant commented on #15
@austin-sprawls I haven't worked with React Native before, but I will see if I can put together a repro using [create-react-native-app](https://github.com/react-community/create-react-native-app).

[2017-04-06 01:48] maxdeviant commented on #15
I added an [example React Native](https://github.com/maxdeviant/redux-persist-transform-encrypt/tree/master/examples/ReactNativeExample) to help me reproduce the issue.

I'm running into this error though:

![screen shot 2017-04-05 at 9 45 22 pm](https://cloud.githubusercontent.com/assets/1486634/24734029/42b35504-1a49-11e7-9d63-51be4f95faef.png)

@austin-sprawls Would you mind taking a look and s

[2017-04-06 02:36] maxdeviant commented on #15
@austin-sprawls Okay, I got the example working, but I am not getting the same error.

Are you using any other `redux-persist` transforms?

[2017-04-06 17:00] askiiRobotics commented on #15
Hi all,

It seems that makeAsyncDecryptor won't unpack values. So autoRehydrate throws promise in makeDecryptor. Very strange.

[2017-04-06 17:24] maxdeviant commented on #15
@askiiRobotics The async decrypt implementation is not working. But I think the sync methods should still work with ReactNative's AsyncStorage.

[2017-04-28 20:03] tybro0103 opened #16 "Securing the secret key"
Question: Any tips on what to use as a secret key that would be secure?

Being this is normally going to be client code, using a hard-coded string as the key would be rather insecure, as anyone gaining access to the data would probably also extract strings from the app binary.

Perhaps using something like an MD5 of the device ID could be ok.

Any recommendations?

[2017-04-28 22:03] maxdeviant commented on #16
@tybro0103 This sort of depends on how you want the persisted data to work.

If you're only interested in persisting over the course of a single session, then something like an access token or a session key would be good candidates for the secret key.

If you want the data to be persisted long-term, then a hash of the device ID might work. I would say that if you go with that approach, you probabl

[2017-04-29 04:14] tybro0103 commented on #16
Whatever the salt is would have to be stored somewhere... 🙃

[2017-04-29 16:40] maxdeviant commented on #16
@tybro0103 Ah yes, I was implying that the hashing/salting would be done on a server somewhere, where the key could be secret.

[2017-05-04 04:36] egold opened #17 "Question: pattern for try/catching or handling wrong key case"
Works as intended 👍

However, I'm curious how to handle the case of "wrong key, user!" Can you provide any pointers on try/catching the thing, or something? Thanks!

[2017-05-05 14:05] maxdeviant commented on #17
@egold Funnily enough, I've never actually tried what happens with a incorrect key :sweat_smile:

But it seems like a fairly common case, so I may look into writing some docs up on it.

[2017-05-06 16:29] joshuajung commented on #15
I'm seeing the same error message ("expected outbound state to be a string") using the sync implementation, using no other transforms and a very simple store. @austin-sprawls, did you make any progress?

[2017-05-19 22:28] egold commented on #17
@maxdeviant have you had any luck with this?

[2017-05-19 22:30] egold commented on #17
Seems like this code in `sync.js` assumes valid JSON:

[code]

[2017-05-24 23:19] momosh commented on #15
I'm getting the same error here ("redux-persist-transform-encrypt: expected outbound state to be a string"), while using the sync implementation and I'm using the library version 1.0.2

[2017-05-25 16:04] maxdeviant commented on #15
@joshuajung @momosh Are both of you on React Native as well? I have not been able to reproduce this issue in React Native. You can refer to the [example](https://github.com/maxdeviant/redux-persist-transform-encrypt/tree/master/examples/ReactNativeExample) project to see if there are any differences.

A repo with a repro case in it would be most helpful.

[2017-05-26 17:26] rubencodes commented on #16
Either way the string would be passed back to the client... So that wouldn't be super ideal either... I think in an ideal universe we'd pass the state to a server-side function which would do the hashing/encryption, then pass it back to the frontend. Same for unencrypting.

[2017-05-26 18:37] maxdeviant commented on #16
@rubencodes Passing the state back and forth just seems like a lot of overhead. If you're using unique encryption keys for each user and sending them to the client for decryption, that is just as secure as doing what you described and decrypting the state on the server, but much more efficient.

But this all really comes down to what your encryption needs are for your application. Which is somethi

[2017-05-26 18:50] rubencodes commented on #16
Good call!

[2017-05-29 12:39] thiagofernando commented on #15
I had the same issue.
I created a test repository for you.

 https://github.com/thiagofernando/Persist

[2017-05-29 15:46] maxdeviant commented on #15
@thiagofernando Thanks! I'll have a look at it.

[2017-05-29 16:27] momosh commented on #15
@thiagofernando yes, got this error while working with React Native. Also checked the example you linked, but could not make it work with redux-persist-immutable.
But, I've switched to redux-persist and everything works as expected.

[2017-05-29 23:38] thiagofernando commented on #15
Turn on the debug you can see better, in this new version of the react is not appearing the red screen, but the data is not storing.
Save a card, then reload. it will not be there.

[2017-07-15 15:45] fdobre commented on #15
I get the same error using react-native 0.45.1 and redux-persist-transform-encrypt 1.0.2 (the sync version):
`expected outbound state to be a string`
Did anyone find a solution for this?

[2017-07-15 15:49] maxdeviant commented on #15
@fdobre I've been meaning to look into this issue, but haven't had the time to do so.

Are you using any other transforms? Or just `redux-persist-transform-encrypt`?

[2017-07-15 16:43] fdobre commented on #15
No, I'm not using any other transforms:
`const encryptor = createEncryptor({
  secretKey: 'my-super-secret-key-999',
});

persistStore(
  store,
  {
    storage: AsyncStorage,
    whitelist: ['auth'],
    transforms: [encryptor],
  },
);`

and in auth state is something like this:

[code]

[2017-07-18 04:53] yogeshwar-20 commented on #15
It seems like this is caused when you're trying to apply transform-encrypt onto a previously persisted un-encrypted store? I was running into this same issue until I purged the store and started afresh with encrypt on and it seems to be behaving right now. Could that be it?

[2017-07-18 07:51] fdobre commented on #15
Tried purge several times. It doesn't work on my side.

[2017-07-19 06:45] yogeshwar-20 commented on #17
@maxdeviant  this is an issue I want to handle as well. Currently this is what happens for a wrong key scenario:
<img width="375" alt="screen shot 2017-07-19 at 12 13 22 pm" src="https://user-images.githubusercontent.com/23213789/28353970-a816c0dc-6c7b-11e7-9cf0-13ab2b4ef969.png">

Looking at this library and general redux transform patterns I wasn't able to identify any error handling mechanism.

[2017-08-14 18:14] hectorsabina commented on #15
Had same issue described here (also for a RN project, not using any other transforms), purging the store also worked for me. Not sure if that's indeed the issue (as @yogeshwar-20 suggested) but try this out:

First remove the transform from the config and purge:
`persistStore(store, { storage: AsyncStorage }).purge()`

And then, add the transform back again and don't purge:
`persistStore(store, {

[2017-11-03 14:00] outaTiME opened #18 "Update to redux-persist v5"
Hi, it will awesome to support de v5 of redux-persist.

Thanks !!!

[2017-11-06 09:15] nikhil4326 commented on #18
Is there any other way to encrypt redux state?
is someone maintaining this library?

[2017-11-06 12:40] maxdeviant commented on #18
I'll look into getting this upgraded to `redux-persist` v5.

PRs always welcome :wink:

[2017-11-06 13:12] nikhil4326 commented on #18
Hey I have used same version with redux persist V5. that is working fine.
only difference is in implementation.
I dont know that is correct way or not . If you want i will post here.

[2017-11-06 18:38] rt2zz commented on #18
This lib should support v5 just fine, I think just need to update the readme to put transforms on persistReducer instead of persistStore

[2017-11-07 05:06] nikhil4326 commented on #18
correct. Somethimg like.

[code]

check [issue](https://github.com/rt2zz/redux-persist/issues/545) raised redux-persit forum by me.

[2017-11-08 12:55] maxdeviant commented on #18
I should have some time to look into this tonight.

[2017-11-11 16:03] maxdeviant commented on #18
Support for `redux-persist@5` has been added in [v2.0.0](https://github.com/maxdeviant/redux-persist-transform-encrypt/releases/tag/v2.0.0).

Just needed to update the `peerDependencies` and examples.

[2017-11-11 16:03] #18 closed

[2017-11-11 16:09] #16 closed

[2017-11-11 16:47] maxdeviant opened #19 "Add configurable error handling/logging system"
Currently we just call `console.(log|info|warn|error)` to report issues back to the user.

We should be able to pass in a custom error handler/logger that is configurable by the library consumer so usage is more flexible.

[2017-11-22 12:21] ekynoxe commented on #19
Hi @maxdeviant I had a first go at this. It's super simple for now, to get the ball rolling.
Let me know what you think about https://github.com/maxdeviant/redux-persist-transform-encrypt/pull/20

[2017-12-12 05:08] egold commented on #17
@maxdeviant is this now closed by b500775c96177b30de787214947d4cac58050647 ? (if yes: thanks!)

[2018-01-05 08:59] ekynoxe commented on #19
Thanks for merging #20, @maxdeviant Does this mean this issue can be closed?
I'm still (shame on me) unfamiliar with how versions are being published to npm, so I'll be waiting for that before I upgrade the application using redux-persist-transform-encrypt. At least I can reference a `master` commit! Thanks!

[2018-01-05 16:12] maxdeviant commented on #19
@ekynoxe I haven't published a new version to npm yet. I wanted to document the error handler feature first.

[2018-01-06 05:42] noymer opened #22 "when state has string type property, decryption failed"
This is #21 explanation.
When state type has string type property, encryption is success, but decryption will be failed.
Here is an example.

[code]

`state1` itself is object, but `redux-persist` persists value per state property.
It is probably because `redux-persist` config has `blacklist` `whitelist` config.
https://github.com/rt2zz/redux-persist/blob/master/docs/api.md#type-persistconfig

Whe

[2018-02-15 16:21] sibelius commented on #6
is this still a thing?

[2018-02-15 16:25] sibelius opened #23 "sync vs async"
what are the differences of sync and async method?

both of them work on react-native?

[2018-02-15 16:59] sibelius opened #24 "expected outbound state to be a string on latest redux-persist"
[code]

on react-native

[code]

[2018-02-15 19:24] maxdeviant commented on #6
@sibelius Yes, [this test](https://github.com/maxdeviant/redux-persist-transform-encrypt/blob/master/src/__tests__/async.test.js#L28-L45) is still commented out because it's failing.

I don't think it's the test that's bad but rather we need to take a look at how the async functionality is implemented.

[2018-02-15 19:27] maxdeviant commented on #23
@sibelius I'm not all too familiar with the async methodology, it was added in a PR by another contributor. It's still not really finalized/supported, I just haven't had the time to look into it further.

The difference between the two is that async runs the encryption/decryption asynchronously which could provide better performance.

Sync should work fine on React Native, and async may or may not

[2018-02-15 19:30] sibelius commented on #23
tks for the explanation, I'll try to make this work with react-native

this is a great package, tks

[2018-02-15 19:30] #23 closed

[2018-03-09 18:41] snipter commented on #24
Try to purge your storage:
[code]
It is possible that you trying to load not encrypted data and decrypt it.

[2018-03-14 12:47] jbrodriguez commented on #15
An alternative solution, to prevent losing the stored state, would be

[code]

Here I assume that version 0 is unencrypted and I'm migrating to version 1 which is encrypted.

So, if the stored state is at version 0, the transformer encrypts it (with the same logic used by the plugin) and offers it to the next transform, which is the encryptor (decryptor in this case).

This would be more elegant i

[2018-03-28 08:40] ekynoxe commented on #19
Hi @maxdeviant I've added docs and a few things around tests in #25 Can you let me know if more is needed in order to create a new release? I'd really like to use a proper version in our package dependencies.

[2018-04-03 02:26] maxdeviant commented on #19
@ekynoxe This is available in `v2.0.1`. Thanks for the help!

[2018-04-03 02:26] #19 closed

[2018-04-03 07:00] ekynoxe commented on #19
Fantastic, @maxdeviant Thanks a lot!

[2018-04-03 13:31] felixus95 commented on #22
@noymer  Did you fix this for your case?

I encounter the same problem. It seems to work when I change makeEncryptor as follows in

`if (typeof state !== 'string') {
      state = (0, _jsonStringifySafe2.default)(state);
    }
    return transform(state);
`

to

`return transform((0, _jsonStringifySafe2.default)(state));`

So you if you stringify everything there is no error. Are there any side ef

[2018-06-22 13:11] lalitaphalak opened #26 "Issue with REHYDRATE"
I am using "redux-persist": "4.10.2", "redux-persist-transform-encrypt": "1.0.2" in my project.

I have recently added "redux-persist-transform-encrypt" to project. And getting issue when I try to refresh page in browser.

I have customized REHYDRATE action and was getting all of my reducers in action.payload in reducer. By using that values I used to perform some customizations. But after integra

[2018-07-12 07:51] ogheo opened #27 "Get store current encrypted state"
Hello,

for a ssr app I need to get current encrypted state.

const finalState = store.getState(); -> const finalState = store.getEncryptedState();

Is there a way to achieve that in an elegant way and without other libraries? Thanks.

[2018-08-09 02:32] izikandrw opened #28 "Example of how to securely generate the secret key"
I imagine that many apps using this library would want to generate an encryption key rather than hardcoding it in the code and having an example of this would be great.

I have been combing the Internet to find out how to do this with no luck. I realize this isn't a function of the library but having an example or suggestion of how to generate the secret key would make it easier for people to use

[2018-08-18 07:31] rajscet opened #29 "not working with latest redux persist version V5"

[2018-08-18 08:09] rajscet opened #30 "required example with redux persist v5"

[2018-09-14 12:05] robmoorman commented on #28
Use uuid. And save it into your (react-native-)keychain

[2018-10-28 06:09] Sphinxs opened #32 "Required key"
Do I really need to pass `scretKey` and `key` ? If I don't pass `key` in `persistReducer` I receive an error (*Error : key is required in persistor config*) ...

[code]

[2018-10-29 01:14] maxdeviant commented on #32
@Sphinxs `secretKey` is required by `redux-persist-transform-encrypt` in order to securely encrypt the state.

`key` is required by `redux-persist` to tell it which keys in the store should be persisted.

Hope that helps clarify it for you.

[2018-11-06 02:07] Sphinxs commented on #32
Yes, thanks ( :

[2018-11-06 17:53] #32 closed

[2018-11-14 02:03] xingsuo opened #33 "It caused the very obvious lagging if the reducer store is large"
I am working on the performance issue for two weeks but end up found that this encryption is quite time consuming and will block the UI if the data is very large

[2018-11-14 18:23] maxdeviant commented on #33
@xingsuo Yea, unfortunately encryption/decryption can be quite slow.

Ideally you would need to do the encryption/decryption asynchronously in order to not block the UI thread, but right now async support isn't working.

Part of the problem is that (at least when it was implemented), `redux-persist` didn't support a Promise-based API to allow for asynchronous encryption/decryption. I have not look

[2018-11-14 18:48] xingsuo commented on #33
@maxdeviant Thanks for the quick response and explanation. I am wondering if there is a way to control the timing of the encryption/decryption? Because I am thinking if it's possible I can just put it while the UI is free, such as onLoading or onClose of the app.

[2019-02-28 07:50] pitops commented on #28
@robmoorman How about a web solution?

[2019-08-02 16:23] ansal-exp opened #36 "Add ability to migrate from one secret key to another"
I have tried to update the secret key. But no luck as the library returns error.

Do anyone has any idea about implementing or updating the secret key used for the decryption. It's ok if have to throw old saved state.

[2019-08-24 01:52] MNF opened #37 "Is the package supported in react-web?"
In readme there is no information, does is the package supported in react-web, or only in react-native?
There is only examples/ReactNativeExample.

Lack of answer to @pitops question https://github.com/maxdeviant/redux-persist-transform-encrypt/issues/28#issuecomment-468172488_ makes think that there is no way to keep secretkey in JavaScript in browser, that will not be visible to potential hacker

[2019-08-24 03:08] maxdeviant commented on #37
@MNF It should be supported in both. The reason there is only a React Native example is because there have been a number of people having trouble with getting it to work with React Native.

In #16 I go into some potential solutions for keeping keys somewhat secret in the browser, but there are no 100% perfect solutions. It really all depends on the level of security that you need for your applicat

[2019-08-25 00:32] MNF commented on #28
Some recommendations are in https://github.com/maxdeviant/redux-persist-transform-encrypt/issues/16

[2019-08-25 01:02] MNF commented on #37
Created PR https://github.com/maxdeviant/redux-persist-transform-encrypt/pull/38 to update readme

[2019-08-25 01:02] #37 closed

[2019-08-25 02:11] MNF commented on #16
Suggestions what can be used as deviceId see at https://stackoverflow.com/questions/49692073/how-can-i-get-a-unique-device-id-in-javascript/49692307#49692307

[2019-09-13 10:23] Aidurber commented on #36
You would have to have to keep the previous key to decrypt it initially then encrypt it with the new key. Not sure how you'd implement that but it's essentially like trying to log in an account with a different password to the one that's stored.

[2019-09-13 10:40] ansal-exp commented on #36
I have implemented the same in a fork. yeah, I don't feel great about it. But we need to change the password. It would be helpful if we can add it on the home page as a warning.

[2019-09-13 13:12] maxdeviant opened #39 "Convert to TypeScript"
Why? Because I like TypeScript 😎

[2019-09-13 13:13] maxdeviant opened #40 "Switch to Yarn"

[2019-09-13 13:15] maxdeviant opened #41 "Verify compatibility with redux-persist v6"
`redux-persist` is up to v6 already, so we need to ensure that `redux-persist-transform-encrypt` is still compatible and update any examples for v6.

[2019-09-13 13:17] maxdeviant commented on #36
@ansal-exp This sounds like a good idea. It would probably be possible to support something like an `oldSecretKey` option that would handle the conversion from an old secret key to a new one.

[2019-09-13 13:21] maxdeviant commented on #30
I am looking to update to `redux-persist` v6. That work is being tracked in #41.

[2019-09-13 13:21] #30 closed

[2019-11-17 16:13] ChrystianSchutz opened #42 "Issues with installing, Unable to resolve module `events`"
I tried to install this library, but sadly i have this error, after trying to install using yarn(1.19.1) or npm(6.9.0). I also tried removing node_modules and cleaning cache.
`error: bundling failed: Error: Unable to resolve module `events` from `C:\graditude\minute-gratitude-journal\node_modules\readable-stream\lib\_stream_readable.js`: Module `events` does not exist in the Haste module map`
Even

[2019-12-06 08:56] BugHiding commented on #41
![image](https://user-images.githubusercontent.com/6602889/70309597-d34d6c80-1848-11ea-86d5-5776beb10122.png)

![image](https://user-images.githubusercontent.com/6602889/70309789-3d661180-1849-11ea-93fc-69413f290908.png)

[code]

`@types/redux-persist-transform-encrypt@2.0.1`  persistStore() type has error

[2020-02-27 21:00] mattrabe opened #43 "persistor.purge() after error"
When decryption fails (which triggers the `onError` event handler) the data in the resulting store may not be formed as expected. The store will NOT be automatically reverted to `initialState`. I do not suggest that it automatically be reverted, but rather I suggest an addition to documentation.

Since people commonly rely on `initialState` "guaranteeing" a certain shape for the store, when decryp

[2020-06-09 15:22] mxsxs2 opened #46 "Cannot save simple text as state."
I have a setup where I have multiple reducers and I only persist a part of the state coming from the reducers. For this I have the `combineReducers` reducers like:
[code]
Default state:
[code]

This persisting and ecrypt/decrypt will cause:
[code]

We could simply add return the decrypted value at [sync.js Line:16](https://github.com/maxdeviant/redux-persist-transform-encrypt/blob/b5f99d637ea724db

[2020-06-11 07:26] angus-leung22 commented on #28
Does anyone know if this is possible? I've tried this approach but running into issues as getting the uuid back from react-native-keychain is an async operation. I cannot wait on it to finish retrieving as I need the value provide it in the transform as the secret key.

Is there a way to wait on the key prior to the redux store creation or when this transform is called?

[2020-07-15 13:20] JeremyBradshaw7 commented on #33
When do you notice the lagging? Just on app start (dehydrate) or when every redux reducer runs?

[2020-07-17 09:55] Dylan0916 commented on #36
same issue

[2020-07-17 10:53] Dylan0916 commented on #46
+1😭

[2020-10-16 11:08] danwhite-ipc commented on #28
@angus-leung22 Did you manage to find a work around?

[2020-10-16 15:21] angus-leung22 commented on #28
Unfortunately nothing for getting redux-persist-transform-encrypt to work for me.

[2020-10-17 00:48] #40 closed

[2020-10-17 02:49] maxdeviant opened #48 "Add support for asynchronous encryption"
Asynchronous support was previously added in #5.

However, it was never fully working properly, as `redux-persist` does not support asynchronous transforms. Support for asynchronous transforms is tracked by https://github.com/rt2zz/redux-persist/issues/303.

Once `redux-persist` supports asynchronous transforms then so can `redux-persist-transform-encrypt`.

[2020-10-17 02:56] maxdeviant commented on #6
Asynchronous support has been removed in #47.

[2020-10-17 02:56] #6 closed

[2020-10-17 02:57] maxdeviant commented on #39
Completed in #47.

[2020-10-17 02:57] #39 closed

[2020-10-17 04:26] maxdeviant commented on #41
This should be working now, as evidenced by the [end-to-end test](https://github.com/maxdeviant/redux-persist-transform-encrypt/blob/b96da9a53b88258969806b49b539e43b4730dad7/src/__tests__/e2e.test.ts).

[2020-10-17 04:26] #41 closed

[2020-10-17 04:32] maxdeviant commented on #29
`redux-persist-transform-encrypt` v3.0.0 has been tested against `redux-persist` v6.0.0 and is working as expected.

[2020-10-17 04:32] #29 closed

[2020-10-17 04:35] maxdeviant commented on #22
This should be fixed by v3.0.0.

[2020-10-17 04:35] #22 closed

[2020-10-17 04:37] maxdeviant commented on #26
Closing due to age.

We can reopen this issue if the problem still exists with the latest versions of `redux-persist-transform-encrypt` and `redux-persist`.

[2020-10-17 04:37] #26 closed

[2020-10-17 04:39] maxdeviant commented on #28
This would be outside the scope of this library.

It may be possible if you defer the creation of the Redux store (e.g., using a top-level Promise), but that sounds like it could get pretty messy.

[2020-10-17 15:05] maxdeviant commented on #46
Plain strings are now supported in v3.0.0, as shown in [this test case](https://github.com/maxdeviant/redux-persist-transform-encrypt/blob/2b3cd240395fdacf038517a7c4697621a851217e/src/__tests__/sync.test.ts#L100-L111).

[2020-10-17 15:05] #46 closed

[2020-10-17 15:10] maxdeviant commented on #2
Closing this out due to age.

Example usage can be found in the [end-to-end tests](https://github.com/maxdeviant/redux-persist-transform-encrypt/blob/master/src/__tests__/e2e.test.ts).

[2020-10-17 15:10] #2 closed

[2020-10-17 15:11] maxdeviant commented on #15
Closing due to age.

[2020-10-17 15:11] #15 closed

[2020-10-17 15:12] maxdeviant commented on #42
Closing as this does not seem like a problem with `redux-persist-transform-encrypt`.

[2020-10-17 15:12] #42 closed

[2020-10-17 15:13] maxdeviant commented on #33
I don't think we have any recourse here until #48 is resolved.

[2020-10-17 15:34] maxdeviant commented on #24
Closing due to age and since there appears to be a valid resolution.

[2020-10-17 15:34] #24 closed

[2020-10-17 15:57] maxdeviant commented on #28
Refer to the ["Secret Key Selection" section](https://github.com/maxdeviant/redux-persist-transform-encrypt#secret-key-selection) in the README for some recommendations on how to generate a secret key.

I don't use this library (or even Redux) anymore, so I will leave it to someone else to contribute a full-blown example. I would prefer it if an example on key generation was in the form of a blog

[2020-10-17 15:57] #28 closed

[2020-10-17 19:06] maxdeviant commented on #36
Thinking about this a bit more, I think that migrating from one secret key to another might be something that has to take place in user land. At the very least, I think it needs to exist at a scope higher than a single transform.

The reason being that the encrypt transform has no idea about the current state of the store (Is it encrypted? Is it encrypted with using a different key?).

[2020-10-18 17:50] ardyfeb opened #49 "Error: Unable to resolve module `crypto`"
Got this error on react-native, using `crypto-js@v3.1.9-1` will resolve this error https://github.com/brix/crypto-js/issues/273#issuecomment-602442239

another solution discussed here https://github.com/brix/crypto-js/pull/259

[2020-10-19 14:05] maxdeviant commented on #49
Thanks for the report! This does seem like something that should be fixed.

My guess is that for now we can drop to `crypto-js@v3.1.9-1`.

[2020-10-23 23:08] maxdeviant commented on #49
This should be fixed in v3.0.1.

[2020-10-23 23:08] #49 closed

[2020-11-06 09:51] sacmii opened #50 "ERROR: (0, _reduxPersistTransformEncrypt.default) is not a function"
ERROR    TypeError: (0, _reduxPersistTransformEncrypt.default) is not a function. (In '(0, _reduxPersistTransformEncrypt.default)({
    secretKey: _LoginPasswordKey.reduxEncrypt,
    onError: function onError(error) {}
  })', '(0, _reduxPersistTransformEncrypt.default)' is undefined)

Package Version: "redux-persist-transform-encrypt": "^3.0.1",

System:
    OS: macOS 10.15.7
    CPU: (8) x64 Inte

[2020-11-06 13:08] maxdeviant commented on #50
We no longer expose a default export. Please use the named export:

[code]

[2021-01-05 09:54] #27 closed

[2021-03-03 17:00] rueiwoqp opened #52 "How to update the secretKey async"
On app load, I want to do the following:

1. Check expo-secure-store async for a previous stored encryption secret key
2. If it doesn't exist, create a random uuid and save it in expo-secure-store async and use it as the secret key for encryption
3. If it does exist, use it as the secret key for encryption

However, because this process is async, I don't see how to export the store and persistor.

[2021-05-12 19:16] gczene commented on #52
hi, I have similar problem, I want to follow the recommendation for long-term persistence, but I am not sure how to set/change the secret key.

It seems the example configuration runs when the store is initialized, and I can't see a later point where I can change that.

If this could be added to the readme, that would be super useful.

Thanks

[2021-06-09 12:12] andreaslydemann commented on #52
@rueiwoqp I have the exact same problem at the moment as you described. What did you do to solve this?

Would be very useful to hear.

Thanks

[2021-06-11 10:59] allindeveloper commented on #48
I'm currently facing an issue with this.. please a solution would be really helpful

[2021-06-11 14:06] maxdeviant commented on #48
@allindeveloper We can't add asynchronous encryption until `redux-persist` supports asynchronous transforms, so unfortunately this is blocked until that time.

It looks like `redux-persist` is not being actively developed anymore. The last commit to the repo was in September 2019.

[2021-06-24 00:35] tyler-willowtree opened #57 "Update Crypto-js version"
Please update your package to use crypto-js 4.0.0 for security issues. Thanks!

[2021-12-15 08:24] Sajjad1432 commented on #32
Hey  folks , can anybody help me i am facing same issue

[2022-04-11 09:11] ou2s commented on #52
@rueiwoqp @gczene @andreaslydemann
I've managed to do this. I think I will provide a more detailed example soon but for the moment, here are the guidelines:
1. Make your configureStore function async
2. Do not render the Provider until store creation is finished by putting the configureStore method in a useEffet at the root of your app.

[2022-04-11 09:17] ou2s opened #63 "Question: Why the Readme says that you should not generate your secret key on the client ?"
On the Readme I can read the following thing:

I totally understand that you should not hard-code it or store on it on the JS side but concerning the generation part I have trouble understanding why it's not a good practice.

What about generating a random uuid using this [lib](https://github.com/uuidjs/uuid) and store it on the keychain ? It seems secure enough for me but I may be missing somethi

[2022-04-11 17:07] Mihai-github commented on #48
Hei, any update regarding the async matter? Or has anyone found a solution on how to pass to the encryptTransform function an async **secretKey** ?

Thanks

[2022-04-18 13:08] gtokman commented on #52
@ou2s +1 interested in this example!

[2022-05-08 20:30] lukeharbord commented on #28
@ou2s I'm stuck on this exact issue. Most options for getting a secret key seem to be async - have you got any snippets of how you created the store asynchronously and deferred rendering the Provider? Any help appreciated!

[2022-05-30 04:52] enricoirawan opened #64 "My persist didnt encrypted"
![image](https://user-images.githubusercontent.com/54756728/170919207-6193612a-648f-4614-bb4d-8fd4998f3acb.png)
![image](https://user-images.githubusercontent.com/54756728/170919373-fd960d9c-459d-43a5-a771-5d4d6a120aab.png)

I tried to use this library to encrypted my persist storage, but when i run the app and check in the browser storage, the redux state didnt get encrypted, can you help me? tha

[2022-06-15 16:58] keval2605 commented on #52
@ou2s can you provide the example for this asap.

[2022-07-23 19:02] #50 closed

[2022-07-26 21:28] hichemBAALI commented on #64
I think that your problem is with the key 'transforms'. You forgot to add the 's'

[2022-07-26 23:54] jakemckenzie commented on #64
I'm having the exact same issue to this, when I pull up the redux states with the app running in the browser after using this library all the states are visible. Not sure what's happening with this library but it does not appear to be encrypting any data.

[2022-07-29 02:06] maxdeviant commented on #57
`crypto-js` has been updated to v4.1.1 in v4.0.0 of `redux-persist-transform-encrypt`.

[2022-07-29 02:06] #57 closed

[2022-07-29 02:07] maxdeviant commented on #64
Could you provide an example repo with a minimal reproduction case?

[2022-07-29 02:12] maxdeviant commented on #63
I think when I originally wrote it the intent was to counsel against generating a key deterministically on the client.

Generating a random UUID on the client seems like it might be okay.

At the end of the day, it's ultimately your decision for what you want to do in your app. I'm just providing some guidelines 🙂

[2022-07-29 02:12] #63 closed

[2022-07-29 07:48] jakemckenzie commented on #64
@maxdeviant before I produce you a reproduction because my project is closed source: is this module only meant to encrpyt the states while the application is not running and the states are stored in local storage?

[2022-07-29 12:59] maxdeviant commented on #64
Yes, the state is only encrypted at rest. When the store is hydrated from the persisted copy the in-memory state will be decrypted.

[2022-07-31 14:20] LucasBerger opened #67 "v4 Not working with react-native"
When using version 4.0.0 of this library there are errors when starting the app:

`Error: redux-persist-transform-encrypt: Expected outbound state to be a string.`
and
`Error: Native crypto module could not be used to get secure random number.`

Downgrading to 3.x solves these issues

[2022-07-31 19:30] maxdeviant commented on #67
I was worried this would happen.

This is the same issue reported in https://github.com/maxdeviant/redux-persist-transform-encrypt/issues/49. The "solution" at the time was to downgrade `crypto-js` to a version that did not depend on Node's built-in `crypto`.

However, in v4 we upgraded `crypto-js` to fix some security issues in the previous version (requested in https://github.com/maxdeviant/redu

[2022-08-02 14:45] jakemckenzie commented on #64
Alright well on my end this was a miscommunication and I suspect the original poster as well. I expected the state to be encrypted regardless of whether the app was running or not.

[2022-09-05 10:19] aehaake opened #68 "Add encryption to project where users already have unencrypted data"
Hello,

i have an app in production that uses the unencrypted asyncstore. Now I want to add encryption of this stroe as a new feature.

However, after installing according to your manual, I get

This seems to be a logical Error since, upon app start, the store is an unencrypted object instead of a hashed string.

How can I activate the encryption transformer at the "next" apostate "rest" instead o

[2022-09-05 10:28] aehaake commented on #68
I resolved it by not importing from your module but copying the script to my own project.

[2022-09-05 10:28] #68 closed

[2022-10-06 15:05] ou2s commented on #52
Sorry for the late response. I ended up using another library because my code did not work as intended.

[2022-10-20 16:20] froston commented on #52
I have the same question. The documentation recommends I should not generate or hard-code the secret key on the client side but does not show any example of how can I set/update the key after obtaining it from the server.
Any solution for this? Thanks!

[2022-10-20 22:10] ali-taghipour commented on #52
You can store the key in your .env file

[2022-10-21 14:56] froston commented on #52
@ali-taghipour Thanks! That is definitelly a better approach then hard-coding the key. However this would only prevent to have the secret key in the **code base** not in the JS **code itself**. I guess that in order to avoid exposing the key in browser it needs to be dynamic, coming from the server in the runtime, which must be async.

[2022-11-07 17:13] asdub commented on #28
@ou2s
I'm also trying to figure this out. Any advice would be appreciated.

[2022-11-10 19:12] ou2s commented on #28
@asdub I think I've managed, but at the end I didn't, there were some defects. I don't think that you can create a redux store asynchronously. I ended up using mkkv-storage library which has synchronous native code bindings thanks to JSI.